<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%=I18n.t(:charts, scope: :generic)%></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%=I18n.t(:age_distribution, scope: :charts)%>
      </div>
      <div class="panel-body">
        <%= line_chart Member.group(:age).count, xtitle: I18n.t(:age, scope: :members), ytitle: I18n.t(:members, scope: :members) %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%=I18n.t(:gender_distribution, scope: :charts)%>
      </div>
      <div class="panel-body">
        <%= pie_chart Member.group(:gender).count.map { |k, v| [I18n.t(k.downcase, scope: :charts), v] } %>
      </div>
    </div>
  </div>
</div>
